<head>
  <%= stylesheet_link_tag 'application.css' %>
</head>

<div>
  <%@users.each do |user|%>
  <div class="parent-container">
    <div class="user-image">
      <img src=<%= user.photo %> width="75rem">
    </div>

    <div class="user-details">
      <h1><%= user.name %></h1>
      <p>Number of post <%= user.posts_counter %></p>
    </div>
  </div>
  <% end %>
</div>