/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* index for users */

.parent-container {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
}

.user-image {
  padding-top: 1.5rem;
}

.user-details {
  display: flex;
  border: 1px solid brown;
  height: 5rem;
  width: 20rem;
  margin-top: 1.5rem;
}

h1 {
  padding-left: 8px;
  width: 7rem;
}

p {
  width: 10rem;
  padding-top: 2rem;
  padding-left: 3rem;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-bio {
  border: 1px solid brown;
  margin-top: 2rem;
  width: 28rem;
}

h2 {
  padding-left: 1rem;
}

.bio-text {
  padding: 1rem;
}

.post {
  border: 1px solid brown;
  margin-top: 2rem;
  width: 28rem;
}

.post-text {
  padding-left: 1rem;
}

.post-comments-likes {
  padding-left: 17rem;
}

.all-posts {
  margin-left: 11rem;
  text-decoration: none;
  border: 1px solid brown;
  width: 7rem;
  margin-top: 3rem;
  padding: 2px;
  border-radius: 3px;
}

/* styling for posts */

.comment-container {
  border: 1px solid brown;
  margin-top: 3rem;
  width: 28rem;
}

.page {
  margin-top: 15rem;
}

.comment-likes {
  display: flex;
  width: 35rem;
}

.comment-and-likes {
  padding-top: 0.5rem;
}

.comment-text {
  padding: 1rem;
}

/* forms */

.post-form {
  display: flex;
  flex-direction: column;
  width: 25%;
  row-gap: 1rem;
}

.create-post-text {
  width: 25%;
}

.create-new-post {
  padding: 1rem;
}

.create-new-post-btn {
  padding: 0.2rem;
  margin-top: 1rem;
  background-color: brown;
  border-radius: 5px;
}

.user-reg {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
